.bg-color-1 {
    background-color: #bd5858;
    color: #00008b;
}

.bg-color-2 {
    background-color: #4eb44e;
    color: #8b0000;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}